.card-container{
    width: 500px;
    max-height: 800px;  
    border-radius: 10px;
}

.card-container h1{
    font-size: 20px;
    font-weight: 600;
}

.card-container p{
    text-align: justify;
    font-size: 14px;
    opacity: 50%;
}

.tech-line {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.tech-line a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.tech-line .button-white button{
    color: white;
    background-color: #ffffff1c;
    border-radius: 10px;
}

.tech-line .button-white button:hover{
    background-color: #ffffff2d;
}

.tech-line .button-grey button{
    background-color: var(--grey-850);
    color: black;
    border-radius: 10px;
}

.tech-line .button-grey button:hover{
    background-color: #25262b;
}

.card-container img{
    weight: 100%;
    border-radius: 5px;
}

@media (max-width: 991.90px) {
    .card-container img{
        height: 200px;
    }
}

@media (min-width: 992px) {
    .card-container img{
        height: 250px;
    }

}
