.main-container {
    width: 1640px;
    height: 800px;
    align-items: center;
}

.main-container .subtitle {
    max-width: 140px
}


.main-container p{
    font-size: 1.25rem;
    color: var(--white);
    opacity: 50%;
}

.social-midias i{
    font-size: 2rem;
    color: var(--white);
    opacity: 50%;
}

.social-midias i:hover{
    opacity: 100%;
    cursor: pointer;
}

.caracter img{  
    max-height: 550px;
    max-height: 550px;
}