:root {
  --white: #ffff;
  --grey-700: #2021247e;
  --grey-800: #17181b75;
  --grey-850: #17181b;
  --grey-900: #0E1013;
}

:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #333335 #2021247e;
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

h1 {
  font-size: 3.25rem;
  font-weight: 800;
}

p {
  font-size: 1.25rem;
  color: var(--white);
  opacity: 50%;
}

@media (max-width: 991.90px) {
    h1 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1rem;
  }
}